<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Information on GMIT</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--Center text-->
  <div class = "ion-text-center">
    <img width="450" height="250" position="absolute" src="../assets/images/gmit3.png"><br>
    <!--Image of gmit-->
    <img width="400" height="250" src="../assets/images/signin2.jpg"><br>
    <!--Wiki infomation-->
    <ion-text><b> Galway-Mayo Institute of Technology (Irish: Institúid Teicneolaíochta na Gaillimhe-Maigh Eo)<br>
       is a third levelinstitute of education and is based at five locations in the west of Ireland. GMIT's <br>
       campuses are located in Galway City, Castlebar, Letterfrack and Mountbellew. GMIT won The Sunday Times<br>
        Institute of Technology of the Year award in 2004, 2007 and 2015. GMIT also has a number of specialist<br>
        research centres and two Innovation Hubs (in Galway and Mayo).</b> </ion-text>
       <br>
       <br>
       <!--Image of gmit-->
    <img width="350" height="250" src="../assets/images/gmitf3.jpg"><br>
    <!--Wiki Infomation-->
      <ion-text><b>GMIT was founded in 1972 as Regional Technical College Galway.<br>

        In 1975 the first bachelor's degree course was approved at a regional technical college,<br> 
        and by May 1977 the first degrees were conferred, a BA in Hotel and Catering Management.</b>
        </ion-text>
      <br>
      <br>
    <!--Image of student union-->
    <img width="250" height="250" src="../assets/images/studentunion.png"><br>
    <ion-text><b>The Students Union at GMIT aims to represent students on all levels, throughout the institute,<br>
      from class reps attending SU council and Programme boards to full-time sabbatical officers serving students<br>
      on Governing Body and Academic Council. The Student Union supports students with a wide range of academic, social,<br> 
      welfare and financial issues. Their website is www.gmitsu.ie</b>
      </ion-text>
    <br>
    <br>
      <!--Rep Image-->
    <img width="350" height="250" src="../assets/images/gmitreps.jpg"><br>
    <ion-text><b> Your Class Rep (Class Representative) is the spokesperson for your class within the Institute. <br>
      The class rep is the first point of contact for all Institute authorities with your class. The Class Reps are <br>
      collectively responsible for deciding the policy of the Student Union. The class reps also hold the elected <br>
      full-time and part-time officers to account.</b>
      </ion-text>
    <br>
    <br>
    <!--Info Image-->
    <img width="400" height="200" src="../assets/images/gmitf1.jpg"><br>
    <ion-text> <b> Galway-Mayo Institute of Technology (GMIT) established two Innovation Hubs (iHubs) at its <br>
      Galway and Mayo campuses in 2005 and 2006 respectively with support from Enterprise Ireland.<br>

    These iHubs provide a range of start-up spaces and a portfolio of Business Development Supports to start-up <br>
    enterprises. The iHubs also provide a number of Entrepreneur Development Programmes including ‘New Frontiers’ <br>
    (Enterprise Ireland’s national entrepreneur development programme for innovative, early stage start-ups), and <br>
    ‘Empower’ – a dedicated entrepreneurship programme for women, sponsored by the European Social Fund and Department<br> 
    of Justice and Equality.
    </b></ion-text>
</div>
</ion-content>
